<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDb</h1>
    <p class="lead">App with nodejs, MongoDb, handlebars</p>
    <hr>
    <p>
        NodeJS es un c칩digo abierto de JavaScript (raz칩n por la cual se incluye el distintivo JS) que es
        t치 dise침ado para generar aplicaciones web de forma altamente optimizada.
    </p>
    <a href="https://codeurb.com" class="btn btn-primary btn-lg">Codeurb</a>
</div>